SUPABASE_URL=https://elrohkyuvebgjgfppcsj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVscm9oa3l1dmViZ2pnZnBwY3NqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc3NTQ4NjAsImV4cCI6MjEwMzMzMDg2MH0.CPTmJTS_ot7Yj8gPJMkBpe1XDzvByV27YRP8rclSOnQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVscm9oa3l1dmViZ2pnZnBwY3NqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Nzc1NDg2MCwiZXhwIjoyMTAzMzMwODYwfQ.9GbSL6wOEsl7VERZMmPCGC9ygQHfXyt9ueybcNzpvEc
DATABASE_URL=
REDIS_URL=
AI_PROVIDER=
AI_PROVIDER_KEY=
AI_PROVIDER_BASE_URL=
AI_PROVIDER_MODEL=
